@font-face {
  font-family: secondFont;
  src: url(Notera_PersonalUseOnly.ttf);
}
body{
  background-color: #f5f5f5;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color:#767676;
}
/* CSS used here will be applied after bootstrap.css */
.navbar-collapse {
  text-align:center;
}
.navbar-nav {
  display:inline-block;
  float:none;
}

/**
** Navbar
**/
.navbar-brand-centered{
  margin-top: 15px;
}
.searching {
  margin-top: 30px;
  margin-right: -100px;
}
.navbar-center img {
  margin-left: 300%;
  display: block;
}
#first-nav {
  background-color: #f5f5f5;
  height: 100px;
  margin-bottom: 0px;
}

.first-nav > li {
  margin: 23px -15px 0px 0;
  font-size: 10px;
}

#default-color {
  background-color: #666666;
  border-color: #666666;
}
#default-color .navbar-nav > li > a {
  color: #fff;
}
#default-color .navbar-nav > li > a:hover{
 color:#f57834;
}

.current {
  color:#f57834;
}

/** Contents **/
.panel{
  border-radius: 0!important;
}
.cooking-section{
  margin-top:70px;
  background: url('/images/cooking.jpg') no-repeat center scroll;
  background-size:cover;
  height: 280px;
}
.cooking-container{
  margin-top: 50px;
  margin-bottom: 30px;
}
section#cooking {
  border-bottom: #ccc solid 1px;
}
.title-img{
  width: 280px;
}
section#gobble,#schools,#nutritions,#central-kitchen{
  margin-top:100px;
}
.highlight-text{
  color:#c72435;
}
.notice-text{
  color:#c72435;
  font-size: 13px;
}
.btn-explore{
  border-top: 1px #ccc solid;
  border-right: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  color: #f57834;
  margin-bottom: 20px;
}
.btn-explore-01{
  border: 1px #ccc solid;
  color: #f57834;
  line-height: 10px;
  background: #fff;
  margin-left: 10px;
}
.title-link {
  margin-top: 10px;
}
section#factory-canteens{
  background: url('/images/factory-image.jpg') no-repeat center scroll;
  background-size:cover;
  height: 420px;
  margin-top: 60px;
}
#factory-canteens-container{
  margin-top: 100px;
}
#nutritions-container{
  background: url('/images/nutrition-image.png') no-repeat center scroll;
  background-size:cover;
  height: 380px;
}

section#media{
  background-color: #2c3849;
}
section#media1{
  background-color: #1e252d;
  height: 280px;
}
.media-container{
  padding:30px;
}
.media-top{
  margin-top: 60px;
}
.video-div{
  margin-top: 20px;
  margin-bottom: 10px;
}
.col-margin-left-2{
  margin-left: 55px;
}


section#footer{
  background-color:#f4f5f6;
  height: 250px;
}
section#footer1{
  background-color: #f7f8f2;
  height: 100px;
}
section#footer2{
  background-color: #dddfd2;
  height: 75px;
}
footer{
  background-color: #4c4d4e;
  height: 50px;
}
.footerimage{
  margin-top: 10px;
}
#footer-link{
  margin-top: 50px;
}
.alignmentM{
  margin-top: 20px;
}
#footer-link > li {
  margin: 0 30px 0 0;
}
#footer-link a{
  color : #7d7e78;
  text-decoration: none;
}
#footer-link a:hover{
  color: #f57834;
}
#footer-container{
  margin-top: 100px
}
/** back to top **/
a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #f57834 url("/images/up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
a:hover.back-to-top {
	background-color: #000;
}
.clearfix{
  margin-top: 10px;
}

/** Socials **/
.facebook {
  color: #4769A5;
}
.twitter {
  color: #65CCEF;
}
.reply {
  color: #dcdcdc;
}
.facebook:hover,
.twitter:hover,
.reply:hover{
  color: #f57834;
}
.btn-search{
  color: #333;
  background-color: #F5F5F5;
  border: none;
}

@media screen and (min-width:768px){
  .navbar-brand-centered {
      position: absolute;
      left: 50%;
      display: block;
      width: 160px;
      text-align: center;
      background-color: #eee;
  }
  .navbar>.container .navbar-brand-centered,
  .navbar>.container-fluid .navbar-brand-centered {
      margin-left: -80px;
  }
}
